Iniciando

In [28]:
import os 
import sys 

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

os.environ["JAVA_HOME"] = "C:\\java"
os.environ["HADOOP_HOME"] = "C:\\hadoop"
os.environ["PATH"] += os.pathsep + os.path.join(os.environ["HADOOP_HOME"], "bin")

In [29]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [30]:
spark = (
    SparkSession.builder
    .appName("Conhecimentos_Pyspark_01")
    .master("local[*]")
    .config("spark.sql.shuffle.partitions", "4")
    .getOrCreate()
)

Vendo as Linhas e Colunas

In [31]:
df = spark.read.csv('Arquivos/pessoas.csv',header=True, inferSchema=True,sep=';')

In [32]:
df.show()

+-------+------+-----+
|   nome|regiao|idade|
+-------+------+-----+
|  Karen|    AM|   61|
| Olivia|    PE|   48|
|  Lucas|    RS|   40|
|  Paulo|    SC|   66|
|Rafaela|    CE|   44|
| Helena|    MT|   61|
|Nicolas|    MT|   45|
|  Lucas|    MT|   36|
|Tatiane|    MS|   54|
|  Paulo|    SP|   66|
|Eduardo|    AM|   62|
|Daniela|    RJ|   39|
|Tatiane|    CE|   34|
|Tatiane|    MS|   18|
|Eduardo|    PR|   47|
|Gabriel|    RJ|   70|
|  Lucas|    MG|   52|
| Olivia|    GO|   63|
|  Bruno|    GO|   37|
| Helena|    PA|   64|
+-------+------+-----+
only showing top 20 rows

Descobrindo o Schema do aquivo

In [33]:
df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- regiao: string (nullable = true)
 |-- idade: integer (nullable = true)

Vendo dados Nulos

In [34]:
df.toPandas().isna().sum()

nome      0
regiao    0
idade     0
dtype: int64

In [35]:
for coluna in df.columns:
    print(coluna, df.filter(df[coluna].isNull()).count())

nome 0
regiao 0
idade 0

Renomeando

In [36]:
df.withColumnRenamed('nome','Clientes').show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Karen|    AM|   61|
|  Olivia|    PE|   48|
|   Lucas|    RS|   40|
|   Paulo|    SC|   66|
| Rafaela|    CE|   44|
|  Helena|    MT|   61|
| Nicolas|    MT|   45|
|   Lucas|    MT|   36|
| Tatiane|    MS|   54|
|   Paulo|    SP|   66|
| Eduardo|    AM|   62|
| Daniela|    RJ|   39|
| Tatiane|    CE|   34|
| Tatiane|    MS|   18|
| Eduardo|    PR|   47|
| Gabriel|    RJ|   70|
|   Lucas|    MG|   52|
|  Olivia|    GO|   63|
|   Bruno|    GO|   37|
|  Helena|    PA|   64|
+--------+------+-----+
only showing top 20 rows

Atribuindo Valores as colunas

In [37]:
df = df.withColumnRenamed('nome','Clientes')
df.show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Karen|    AM|   61|
|  Olivia|    PE|   48|
|   Lucas|    RS|   40|
|   Paulo|    SC|   66|
| Rafaela|    CE|   44|
|  Helena|    MT|   61|
| Nicolas|    MT|   45|
|   Lucas|    MT|   36|
| Tatiane|    MS|   54|
|   Paulo|    SP|   66|
| Eduardo|    AM|   62|
| Daniela|    RJ|   39|
| Tatiane|    CE|   34|
| Tatiane|    MS|   18|
| Eduardo|    PR|   47|
| Gabriel|    RJ|   70|
|   Lucas|    MG|   52|
|  Olivia|    GO|   63|
|   Bruno|    GO|   37|
|  Helena|    PA|   64|
+--------+------+-----+
only showing top 20 rows

In [38]:
df.columns

['Clientes', 'regiao', 'idade']

In [39]:
df.select('Clientes', 'Idade').show()

+--------+-----+
|Clientes|Idade|
+--------+-----+
|   Karen|   61|
|  Olivia|   48|
|   Lucas|   40|
|   Paulo|   66|
| Rafaela|   44|
|  Helena|   61|
| Nicolas|   45|
|   Lucas|   36|
| Tatiane|   54|
|   Paulo|   66|
| Eduardo|   62|
| Daniela|   39|
| Tatiane|   34|
| Tatiane|   18|
| Eduardo|   47|
| Gabriel|   70|
|   Lucas|   52|
|  Olivia|   63|
|   Bruno|   37|
|  Helena|   64|
+--------+-----+
only showing top 20 rows

Com ALIAS

In [40]:
df.select(df['Clientes'].alias('Favorites')).show()

+---------+
|Favorites|
+---------+
|    Karen|
|   Olivia|
|    Lucas|
|    Paulo|
|  Rafaela|
|   Helena|
|  Nicolas|
|    Lucas|
|  Tatiane|
|    Paulo|
|  Eduardo|
|  Daniela|
|  Tatiane|
|  Tatiane|
|  Eduardo|
|  Gabriel|
|    Lucas|
|   Olivia|
|    Bruno|
|   Helena|
+---------+
only showing top 20 rows

Organizar Select

In [41]:
df.select('idade','Clientes','regiao').show()

+-----+--------+------+
|idade|Clientes|regiao|
+-----+--------+------+
|   61|   Karen|    AM|
|   48|  Olivia|    PE|
|   40|   Lucas|    RS|
|   66|   Paulo|    SC|
|   44| Rafaela|    CE|
|   61|  Helena|    MT|
|   45| Nicolas|    MT|
|   36|   Lucas|    MT|
|   54| Tatiane|    MS|
|   66|   Paulo|    SP|
|   62| Eduardo|    AM|
|   39| Daniela|    RJ|
|   34| Tatiane|    CE|
|   18| Tatiane|    MS|
|   47| Eduardo|    PR|
|   70| Gabriel|    RJ|
|   52|   Lucas|    MG|
|   63|  Olivia|    GO|
|   37|   Bruno|    GO|
|   64|  Helena|    PA|
+-----+--------+------+
only showing top 20 rows

Filtro DF

In [42]:
df.filter('Clientes = "Tatiane"').show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
| Tatiane|    MS|   54|
| Tatiane|    CE|   34|
| Tatiane|    MS|   18|
| Tatiane|    MS|   38|
+--------+------+-----+

In [43]:
df.filter(col("idade") > '44').show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Karen|    AM|   61|
|  Olivia|    PE|   48|
|   Paulo|    SC|   66|
|  Helena|    MT|   61|
| Nicolas|    MT|   45|
| Tatiane|    MS|   54|
|   Paulo|    SP|   66|
| Eduardo|    AM|   62|
| Eduardo|    PR|   47|
| Gabriel|    RJ|   70|
|   Lucas|    MG|   52|
|  Olivia|    GO|   63|
|  Helena|    PA|   64|
|   Paulo|    MT|   61|
|    Igor|    PR|   53|
| Eduardo|    BA|   63|
|     Ana|    DF|   62|
|  Carlos|    MG|   54|
| Rafaela|    GO|   55|
|Fernanda|    PA|   47|
+--------+------+-----+
only showing top 20 rows

In [44]:
df.show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Karen|    AM|   61|
|  Olivia|    PE|   48|
|   Lucas|    RS|   40|
|   Paulo|    SC|   66|
| Rafaela|    CE|   44|
|  Helena|    MT|   61|
| Nicolas|    MT|   45|
|   Lucas|    MT|   36|
| Tatiane|    MS|   54|
|   Paulo|    SP|   66|
| Eduardo|    AM|   62|
| Daniela|    RJ|   39|
| Tatiane|    CE|   34|
| Tatiane|    MS|   18|
| Eduardo|    PR|   47|
| Gabriel|    RJ|   70|
|   Lucas|    MG|   52|
|  Olivia|    GO|   63|
|   Bruno|    GO|   37|
|  Helena|    PA|   64|
+--------+------+-----+
only showing top 20 rows

Filtro com condicional AND &

In [45]:
df.filter((col('regiao') == 'SP') & (col('Idade') >= 55)).show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Paulo|    SP|   66|
|  Olivia|    SP|   63|
|   Lucas|    SP|   68|
|Vinícius|    SP|   70|
|Vinícius|    SP|   65|
+--------+------+-----+

In [46]:
df.filter('regiao = "SP"').filter(col('Idade') >= 55).show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Paulo|    SP|   66|
|  Olivia|    SP|   63|
|   Lucas|    SP|   68|
|Vinícius|    SP|   70|
|Vinícius|    SP|   65|
+--------+------+-----+

Filtro com condicional OR |

In [47]:
df.filter((col('regiao') == 'RJ') | (col('idade')>55)).show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
|   Karen|    AM|   61|
|   Paulo|    SC|   66|
|  Helena|    MT|   61|
|   Paulo|    SP|   66|
| Eduardo|    AM|   62|
| Daniela|    RJ|   39|
| Gabriel|    RJ|   70|
|  Olivia|    GO|   63|
|  Helena|    PA|   64|
|   Paulo|    MT|   61|
| Eduardo|    BA|   63|
|     Ana|    DF|   62|
|   Lucas|    AM|   68|
|  Olivia|    SP|   63|
| Mariana|    GO|   58|
| Juliana|    RJ|   64|
|Vinícius|    RJ|   60|
|  Carlos|    MG|   67|
|   Lucas|    SP|   68|
| Mariana|    RJ|   20|
+--------+------+-----+
only showing top 20 rows

Filtro com condicional OR | e AND &

In [48]:
df.filter((col('regiao') == 'sp') & (col('idade')>55) | (col('Clientes') == 'silvia')).show()

+--------+------+-----+
|Clientes|regiao|idade|
+--------+------+-----+
+--------+------+-----+

Criar novas Colunas

In [49]:
df = df.withColumn('Comprou', lit(50)).withColumn('Unidades', lit(20)).withColumn('total', col('Unidades') * col('Comprou'))

Nova coluna com substring

In [50]:
df.withColumn('apelido', substring('Clientes', 1, 3)).show()

+--------+------+-----+-------+--------+-----+-------+
|Clientes|regiao|idade|Comprou|Unidades|total|apelido|
+--------+------+-----+-------+--------+-----+-------+
|   Karen|    AM|   61|     50|      20| 1000|    Kar|
|  Olivia|    PE|   48|     50|      20| 1000|    Oli|
|   Lucas|    RS|   40|     50|      20| 1000|    Luc|
|   Paulo|    SC|   66|     50|      20| 1000|    Pau|
| Rafaela|    CE|   44|     50|      20| 1000|    Raf|
|  Helena|    MT|   61|     50|      20| 1000|    Hel|
| Nicolas|    MT|   45|     50|      20| 1000|    Nic|
|   Lucas|    MT|   36|     50|      20| 1000|    Luc|
| Tatiane|    MS|   54|     50|      20| 1000|    Tat|
|   Paulo|    SP|   66|     50|      20| 1000|    Pau|
| Eduardo|    AM|   62|     50|      20| 1000|    Edu|
| Daniela|    RJ|   39|     50|      20| 1000|    Dan|
| Tatiane|    CE|   34|     50|      20| 1000|    Tat|
| Tatiane|    MS|   18|     50|      20| 1000|    Tat|
| Eduardo|    PR|   47|     50|      20| 1000|    Edu|
| Gabriel|    RJ|   70|     50|      20| 1000|    Gab|
|   Lucas|    MG|   52|     50|      20| 1000|    Luc|
|  Olivia|    GO|   63|     50|      20| 1000|    Oli|
|   Bruno|    GO|   37|     50|      20| 1000|    Bru|
|  Helena|    PA|   64|     50|      20| 1000|    Hel|
+--------+------+-----+-------+--------+-----+-------+
only showing top 20 rows

Criando coluna  Concat/Concat_ws

In [51]:
df.withColumn('Concat',concat('Clientes', col('idade'))).show()

+--------+------+-----+-------+--------+-----+---------+
|Clientes|regiao|idade|Comprou|Unidades|total|   Concat|
+--------+------+-----+-------+--------+-----+---------+
|   Karen|    AM|   61|     50|      20| 1000|  Karen61|
|  Olivia|    PE|   48|     50|      20| 1000| Olivia48|
|   Lucas|    RS|   40|     50|      20| 1000|  Lucas40|
|   Paulo|    SC|   66|     50|      20| 1000|  Paulo66|
| Rafaela|    CE|   44|     50|      20| 1000|Rafaela44|
|  Helena|    MT|   61|     50|      20| 1000| Helena61|
| Nicolas|    MT|   45|     50|      20| 1000|Nicolas45|
|   Lucas|    MT|   36|     50|      20| 1000|  Lucas36|
| Tatiane|    MS|   54|     50|      20| 1000|Tatiane54|
|   Paulo|    SP|   66|     50|      20| 1000|  Paulo66|
| Eduardo|    AM|   62|     50|      20| 1000|Eduardo62|
| Daniela|    RJ|   39|     50|      20| 1000|Daniela39|
| Tatiane|    CE|   34|     50|      20| 1000|Tatiane34|
| Tatiane|    MS|   18|     50|      20| 1000|Tatiane18|
| Eduardo|    PR|   47|     50|      20| 1000|Eduardo47|
| Gabriel|    RJ|   70|     50|      20| 1000|Gabriel70|
|   Lucas|    MG|   52|     50|      20| 1000|  Lucas52|
|  Olivia|    GO|   63|     50|      20| 1000| Olivia63|
|   Bruno|    GO|   37|     50|      20| 1000|  Bruno37|
|  Helena|    PA|   64|     50|      20| 1000| Helena64|
+--------+------+-----+-------+--------+-----+---------+
only showing top 20 rows

In [52]:
df.withColumn('Concat_ws',concat_ws(' - ','Clientes', 'idade')).show()

+--------+------+-----+-------+--------+-----+------------+
|Clientes|regiao|idade|Comprou|Unidades|total|   Concat_ws|
+--------+------+-----+-------+--------+-----+------------+
|   Karen|    AM|   61|     50|      20| 1000|  Karen - 61|
|  Olivia|    PE|   48|     50|      20| 1000| Olivia - 48|
|   Lucas|    RS|   40|     50|      20| 1000|  Lucas - 40|
|   Paulo|    SC|   66|     50|      20| 1000|  Paulo - 66|
| Rafaela|    CE|   44|     50|      20| 1000|Rafaela - 44|
|  Helena|    MT|   61|     50|      20| 1000| Helena - 61|
| Nicolas|    MT|   45|     50|      20| 1000|Nicolas - 45|
|   Lucas|    MT|   36|     50|      20| 1000|  Lucas - 36|
| Tatiane|    MS|   54|     50|      20| 1000|Tatiane - 54|
|   Paulo|    SP|   66|     50|      20| 1000|  Paulo - 66|
| Eduardo|    AM|   62|     50|      20| 1000|Eduardo - 62|
| Daniela|    RJ|   39|     50|      20| 1000|Daniela - 39|
| Tatiane|    CE|   34|     50|      20| 1000|Tatiane - 34|
| Tatiane|    MS|   18|     50|      20| 1000|Tatiane - 18|
| Eduardo|    PR|   47|     50|      20| 1000|Eduardo - 47|
| Gabriel|    RJ|   70|     50|      20| 1000|Gabriel - 70|
|   Lucas|    MG|   52|     50|      20| 1000|  Lucas - 52|
|  Olivia|    GO|   63|     50|      20| 1000| Olivia - 63|
|   Bruno|    GO|   37|     50|      20| 1000|  Bruno - 37|
|  Helena|    PA|   64|     50|      20| 1000| Helena - 64|
+--------+------+-----+-------+--------+-----+------------+
only showing top 20 rows

Trocar o tipo

In [53]:
df = df.withColumn('Data', lit('2025-10-07'))

In [54]:
df.printSchema()

root
 |-- Clientes: string (nullable = true)
 |-- regiao: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- Comprou: integer (nullable = false)
 |-- Unidades: integer (nullable = false)
 |-- total: integer (nullable = false)
 |-- Data: string (nullable = false)

In [55]:
df = df.withColumn('Data',col('Data').cast(DateType()))

In [56]:
df.show()
df.printSchema()

+--------+------+-----+-------+--------+-----+----------+
|Clientes|regiao|idade|Comprou|Unidades|total|      Data|
+--------+------+-----+-------+--------+-----+----------+
|   Karen|    AM|   61|     50|      20| 1000|2025-10-07|
|  Olivia|    PE|   48|     50|      20| 1000|2025-10-07|
|   Lucas|    RS|   40|     50|      20| 1000|2025-10-07|
|   Paulo|    SC|   66|     50|      20| 1000|2025-10-07|
| Rafaela|    CE|   44|     50|      20| 1000|2025-10-07|
|  Helena|    MT|   61|     50|      20| 1000|2025-10-07|
| Nicolas|    MT|   45|     50|      20| 1000|2025-10-07|
|   Lucas|    MT|   36|     50|      20| 1000|2025-10-07|
| Tatiane|    MS|   54|     50|      20| 1000|2025-10-07|
|   Paulo|    SP|   66|     50|      20| 1000|2025-10-07|
| Eduardo|    AM|   62|     50|      20| 1000|2025-10-07|
| Daniela|    RJ|   39|     50|      20| 1000|2025-10-07|
| Tatiane|    CE|   34|     50|      20| 1000|2025-10-07|
| Tatiane|    MS|   18|     50|      20| 1000|2025-10-07|
| Eduardo|    PR|   47|     50|      20| 1000|2025-10-07|
| Gabriel|    RJ|   70|     50|      20| 1000|2025-10-07|
|   Lucas|    MG|   52|     50|      20| 1000|2025-10-07|
|  Olivia|    GO|   63|     50|      20| 1000|2025-10-07|
|   Bruno|    GO|   37|     50|      20| 1000|2025-10-07|
|  Helena|    PA|   64|     50|      20| 1000|2025-10-07|
+--------+------+-----+-------+--------+-----+----------+
only showing top 20 rows
root
 |-- Clientes: string (nullable = true)
 |-- regiao: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- Comprou: integer (nullable = false)
 |-- Unidades: integer (nullable = false)
 |-- total: integer (nullable = false)
 |-- Data: date (nullable = true)

In [57]:
df.withColumn('Anomes',to_date(col('Data'),'yyyymm')).show()
df.show()

+--------+------+-----+-------+--------+-----+----------+----------+
|Clientes|regiao|idade|Comprou|Unidades|total|      Data|    Anomes|
+--------+------+-----+-------+--------+-----+----------+----------+
|   Karen|    AM|   61|     50|      20| 1000|2025-10-07|2025-10-07|
|  Olivia|    PE|   48|     50|      20| 1000|2025-10-07|2025-10-07|
|   Lucas|    RS|   40|     50|      20| 1000|2025-10-07|2025-10-07|
|   Paulo|    SC|   66|     50|      20| 1000|2025-10-07|2025-10-07|
| Rafaela|    CE|   44|     50|      20| 1000|2025-10-07|2025-10-07|
|  Helena|    MT|   61|     50|      20| 1000|2025-10-07|2025-10-07|
| Nicolas|    MT|   45|     50|      20| 1000|2025-10-07|2025-10-07|
|   Lucas|    MT|   36|     50|      20| 1000|2025-10-07|2025-10-07|
| Tatiane|    MS|   54|     50|      20| 1000|2025-10-07|2025-10-07|
|   Paulo|    SP|   66|     50|      20| 1000|2025-10-07|2025-10-07|
| Eduardo|    AM|   62|     50|      20| 1000|2025-10-07|2025-10-07|
| Daniela|    RJ|   39|     50|      20| 1000|2025-10-07|2025-10-07|
| Tatiane|    CE|   34|     50|      20| 1000|2025-10-07|2025-10-07|
| Tatiane|    MS|   18|     50|      20| 1000|2025-10-07|2025-10-07|
| Eduardo|    PR|   47|     50|      20| 1000|2025-10-07|2025-10-07|
| Gabriel|    RJ|   70|     50|      20| 1000|2025-10-07|2025-10-07|
|   Lucas|    MG|   52|     50|      20| 1000|2025-10-07|2025-10-07|
|  Olivia|    GO|   63|     50|      20| 1000|2025-10-07|2025-10-07|
|   Bruno|    GO|   37|     50|      20| 1000|2025-10-07|2025-10-07|
|  Helena|    PA|   64|     50|      20| 1000|2025-10-07|2025-10-07|
+--------+------+-----+-------+--------+-----+----------+----------+
only showing top 20 rows
+--------+------+-----+-------+--------+-----+----------+
|Clientes|regiao|idade|Comprou|Unidades|total|      Data|
+--------+------+-----+-------+--------+-----+----------+
|   Karen|    AM|   61|     50|      20| 1000|2025-10-07|
|  Olivia|    PE|   48|     50|      20| 1000|2025-10-07|
|   Lucas|    RS|   40|     50|      20| 1000|2025-10-07|
|   Paulo|    SC|   66|     50|      20| 1000|2025-10-07|
| Rafaela|    CE|   44|     50|      20| 1000|2025-10-07|
|  Helena|    MT|   61|     50|      20| 1000|2025-10-07|
| Nicolas|    MT|   45|     50|      20| 1000|2025-10-07|
|   Lucas|    MT|   36|     50|      20| 1000|2025-10-07|
| Tatiane|    MS|   54|     50|      20| 1000|2025-10-07|
|   Paulo|    SP|   66|     50|      20| 1000|2025-10-07|
| Eduardo|    AM|   62|     50|      20| 1000|2025-10-07|
| Daniela|    RJ|   39|     50|      20| 1000|2025-10-07|
| Tatiane|    CE|   34|     50|      20| 1000|2025-10-07|
| Tatiane|    MS|   18|     50|      20| 1000|2025-10-07|
| Eduardo|    PR|   47|     50|      20| 1000|2025-10-07|
| Gabriel|    RJ|   70|     50|      20| 1000|2025-10-07|
|   Lucas|    MG|   52|     50|      20| 1000|2025-10-07|
|  Olivia|    GO|   63|     50|      20| 1000|2025-10-07|
|   Bruno|    GO|   37|     50|      20| 1000|2025-10-07|
|  Helena|    PA|   64|     50|      20| 1000|2025-10-07|
+--------+------+-----+-------+--------+-----+----------+
only showing top 20 rows

In [58]:
df = df.withColumn('Data_err', lit('08.10.2025'))
df.show()

+--------+------+-----+-------+--------+-----+----------+----------+
|Clientes|regiao|idade|Comprou|Unidades|total|      Data|  Data_err|
+--------+------+-----+-------+--------+-----+----------+----------+
|   Karen|    AM|   61|     50|      20| 1000|2025-10-07|08.10.2025|
|  Olivia|    PE|   48|     50|      20| 1000|2025-10-07|08.10.2025|
|   Lucas|    RS|   40|     50|      20| 1000|2025-10-07|08.10.2025|
|   Paulo|    SC|   66|     50|      20| 1000|2025-10-07|08.10.2025|
| Rafaela|    CE|   44|     50|      20| 1000|2025-10-07|08.10.2025|
|  Helena|    MT|   61|     50|      20| 1000|2025-10-07|08.10.2025|
| Nicolas|    MT|   45|     50|      20| 1000|2025-10-07|08.10.2025|
|   Lucas|    MT|   36|     50|      20| 1000|2025-10-07|08.10.2025|
| Tatiane|    MS|   54|     50|      20| 1000|2025-10-07|08.10.2025|
|   Paulo|    SP|   66|     50|      20| 1000|2025-10-07|08.10.2025|
| Eduardo|    AM|   62|     50|      20| 1000|2025-10-07|08.10.2025|
| Daniela|    RJ|   39|     50|      20| 1000|2025-10-07|08.10.2025|
| Tatiane|    CE|   34|     50|      20| 1000|2025-10-07|08.10.2025|
| Tatiane|    MS|   18|     50|      20| 1000|2025-10-07|08.10.2025|
| Eduardo|    PR|   47|     50|      20| 1000|2025-10-07|08.10.2025|
| Gabriel|    RJ|   70|     50|      20| 1000|2025-10-07|08.10.2025|
|   Lucas|    MG|   52|     50|      20| 1000|2025-10-07|08.10.2025|
|  Olivia|    GO|   63|     50|      20| 1000|2025-10-07|08.10.2025|
|   Bruno|    GO|   37|     50|      20| 1000|2025-10-07|08.10.2025|
|  Helena|    PA|   64|     50|      20| 1000|2025-10-07|08.10.2025|
+--------+------+-----+-------+--------+-----+----------+----------+
only showing top 20 rows

In [59]:
dia = udf(lambda data: data.split('.')[0])

In [60]:
mes = udf(lambda data: data.split('.')[1])

In [61]:
ano = udf(lambda data: data.split('.')[2])

In [62]:
df = df.withColumn('Dia',dia('Data_err'))
df = df.withColumn('mes',mes('Data_err'))
df = df.withColumn('ano',ano('Data_err'))
df.show()

+--------+------+-----+-------+--------+-----+----------+----------+---+---+----+
|Clientes|regiao|idade|Comprou|Unidades|total|      Data|  Data_err|Dia|mes| ano|
+--------+------+-----+-------+--------+-----+----------+----------+---+---+----+
|   Karen|    AM|   61|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|  Olivia|    PE|   48|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|   Lucas|    RS|   40|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|   Paulo|    SC|   66|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Rafaela|    CE|   44|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|  Helena|    MT|   61|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Nicolas|    MT|   45|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|   Lucas|    MT|   36|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Tatiane|    MS|   54|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|   Paulo|    SP|   66|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Eduardo|    AM|   62|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Daniela|    RJ|   39|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Tatiane|    CE|   34|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Tatiane|    MS|   18|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Eduardo|    PR|   47|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
| Gabriel|    RJ|   70|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|   Lucas|    MG|   52|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|  Olivia|    GO|   63|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|   Bruno|    GO|   37|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
|  Helena|    PA|   64|     50|      20| 1000|2025-10-07|08.10.2025| 08| 10|2025|
+--------+------+-----+-------+--------+-----+----------+----------+---+---+----+
only showing top 20 rows

In [63]:
df = df.withColumn('Data_err', concat_ws('-', 'ano','mes','dia'))

In [64]:
df.show()

+--------+------+-----+-------+--------+-----+----------+----------+---+---+----+
|Clientes|regiao|idade|Comprou|Unidades|total|      Data|  Data_err|Dia|mes| ano|
+--------+------+-----+-------+--------+-----+----------+----------+---+---+----+
|   Karen|    AM|   61|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|  Olivia|    PE|   48|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|   Lucas|    RS|   40|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|   Paulo|    SC|   66|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Rafaela|    CE|   44|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|  Helena|    MT|   61|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Nicolas|    MT|   45|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|   Lucas|    MT|   36|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Tatiane|    MS|   54|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|   Paulo|    SP|   66|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Eduardo|    AM|   62|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Daniela|    RJ|   39|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Tatiane|    CE|   34|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Tatiane|    MS|   18|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Eduardo|    PR|   47|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
| Gabriel|    RJ|   70|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|   Lucas|    MG|   52|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|  Olivia|    GO|   63|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|   Bruno|    GO|   37|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
|  Helena|    PA|   64|     50|      20| 1000|2025-10-07|2025-10-08| 08| 10|2025|
+--------+------+-----+-------+--------+-----+----------+----------+---+---+----+
only showing top 20 rows