In [2]:
import os 
import sys 

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('Datas')
    .getOrCreate()

)

In [5]:
df = spark.read.csv('Pyspark/Datas.csv', header=True, inferSchema=True,sep=';')

In [19]:
df_antigo = spark.read.csv('Pyspark/Datas.csv', header=True, inferSchema=True,sep=';')

In [6]:
df.show()
df.printSchema()

+----------+----------+----------+
|     Data1|     Data2|     Data3|
+----------+----------+----------+
|01/01/2025|2025-01-01|01.01.2025|
|02/01/2025|2025-01-02|02.01.2025|
|03/01/2025|2025-01-03|03.01.2025|
|04/01/2025|2025-01-04|04.01.2025|
|05/01/2025|2025-01-05|05.01.2025|
|06/01/2025|2025-01-06|06.01.2025|
|07/01/2025|2025-01-07|07.01.2025|
|08/01/2025|2025-01-08|08.01.2025|
|09/01/2025|2025-01-09|09.01.2025|
|10/01/2025|2025-01-10|10.01.2025|
|11/01/2025|2025-01-11|11.01.2025|
|12/01/2025|2025-01-12|12.01.2025|
+----------+----------+----------+

root
 |-- Data1: string (nullable = true)
 |-- Data2: date (nullable = true)
 |-- Data3: string (nullable = true)

In [9]:
dia = udf(lambda data1: data1.split('/')[0])

In [10]:
mes = udf(lambda data1: data1.split('/')[1])

In [11]:
ano = udf(lambda data1: data1.split('/')[2])

In [12]:
df = df.withColumn('Dia',dia('data1'))
df = df.withColumn('Mês',mes('data1'))
df = df.withColumn('Ano',ano('data1'))
df.show()

+----------+----------+----------+---+---+----+
|     Data1|     Data2|     Data3|Dia|Mês| Ano|
+----------+----------+----------+---+---+----+
|01/01/2025|2025-01-01|01.01.2025| 01| 01|2025|
|02/01/2025|2025-01-02|02.01.2025| 02| 01|2025|
|03/01/2025|2025-01-03|03.01.2025| 03| 01|2025|
|04/01/2025|2025-01-04|04.01.2025| 04| 01|2025|
|05/01/2025|2025-01-05|05.01.2025| 05| 01|2025|
|06/01/2025|2025-01-06|06.01.2025| 06| 01|2025|
|07/01/2025|2025-01-07|07.01.2025| 07| 01|2025|
|08/01/2025|2025-01-08|08.01.2025| 08| 01|2025|
|09/01/2025|2025-01-09|09.01.2025| 09| 01|2025|
|10/01/2025|2025-01-10|10.01.2025| 10| 01|2025|
|11/01/2025|2025-01-11|11.01.2025| 11| 01|2025|
|12/01/2025|2025-01-12|12.01.2025| 12| 01|2025|
+----------+----------+----------+---+---+----+

In [15]:
df = df.withColumn('Data_01', concat_ws('-','Ano','Mês','Dia'))

In [18]:
df.select('Data_01','Data2','Data3').show()

+----------+----------+----------+
|   Data_01|     Data2|     Data3|
+----------+----------+----------+
|2025-01-01|2025-01-01|01.01.2025|
|2025-01-02|2025-01-02|02.01.2025|
|2025-01-03|2025-01-03|03.01.2025|
|2025-01-04|2025-01-04|04.01.2025|
|2025-01-05|2025-01-05|05.01.2025|
|2025-01-06|2025-01-06|06.01.2025|
|2025-01-07|2025-01-07|07.01.2025|
|2025-01-08|2025-01-08|08.01.2025|
|2025-01-09|2025-01-09|09.01.2025|
|2025-01-10|2025-01-10|10.01.2025|
|2025-01-11|2025-01-11|11.01.2025|
|2025-01-12|2025-01-12|12.01.2025|
+----------+----------+----------+

In [29]:
dia_ponto = udf(lambda data3: data3.split('.')[0])

In [30]:
mes_ponto = udf(lambda data3: data3.split('.')[1])

In [31]:
ano_ponto = udf(lambda data3: data3.split('.')[2])

In [32]:
df = df.withColumn('Dia', dia_ponto('Data3'))
df = df.withColumn('Mês', mes_ponto('Data3'))
df = df.withColumn('Ano', ano_ponto('Data3'))

In [34]:
df = df.withColumn('Data_03', concat_ws('-','Dia','Mês','Ano'))

In [39]:
df.select('Data_01','Data2','Data_03').show(2)
df_antigo.show(2)

+----------+----------+----------+
|   Data_01|     Data2|   Data_03|
+----------+----------+----------+
|2025-01-01|2025-01-01|01-01-2025|
|2025-01-02|2025-01-02|02-01-2025|
+----------+----------+----------+
only showing top 2 rows
+----------+----------+----------+
|     Data1|     Data2|     Data3|
+----------+----------+----------+
|01/01/2025|2025-01-01|01.01.2025|
|02/01/2025|2025-01-02|02.01.2025|
+----------+----------+----------+
only showing top 2 rows